<div class="content_wrapper_main">
  <div class="popular-recipe-categories">
     Popular Categories: <br>
     <%= link_to "/recipes?utf8=✓&search=Chinese" do %>
       <%= button_tag :class => "button_round_burnt_orange" do %>Chinese<%end %>
    <% end %>
     <%= link_to "/recipes?utf8=✓&search=dim+sum" do %>
       <%= button_tag :class => "button_round_burnt_orange" do %>Dim Sum<%end %>
    <% end %>
     <%= link_to "/recipes?utf8=✓&search=Easy" do %>
       <%= button_tag :class => "button_round_burnt_orange" do %>Easy<%end %>
    <% end %>
  </div>
  
  <div id="hero-box">
    <div class="logo"><%= image_tag("ddmimi-rabbit.png") %></div>
    <div>TUZI CHEF</div>
    <div id="lang-tuzi">兔子 thỏ</div>
    <div id="lang-tuzi">토끼 ウサギ</div>
    <div id="hero-text">COMING</div>
    <div id="hero-text"> SOON</div>
  </div>
  
</div>
