<script>
function post(node){
  var hiddenIngreds = document.createElement("input");
  hiddenIngreds.setAttribute("type", "hidden");
  hiddenIngreds.setAttribute("id", "recipe_j_ingreds");
  hiddenIngreds.setAttribute("name", "recipe[j_ingreds]");
  hiddenIngreds.setAttribute("value", node.recipe_ingreds.value);
  node.appendChild(hiddenIngreds);
  
  var hiddenSteps = document.createElement("input");
  hiddenSteps.setAttribute("type", "hidden");
  hiddenSteps.setAttribute("id", "recipe_j_steps");
  hiddenSteps.setAttribute("name", "recipe[j_steps]");
  hiddenSteps.setAttribute("value", node.recipe_steps.value);
  node.appendChild(hiddenSteps);

  node.submit();
  /* For testing purposes*/

} 
</script>
<div id="demo"></div>
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :ingreds %><br>
    <%= f.text_area :ingreds %>
  </div>
  <div class="field">
    <%= f.label :steps %><br>
    <%= f.text_area :steps %>
  </div>
  <%= f.hidden_field :author_id, :value => current_member.id %>
  <div class="actions">
    <button type="button" onclick="post(this.form)">Submit</button>
  </div>
<% end %>
