<div class="search_result_recipe">
  <div class="recipe_img">
  <%= link_to recipe do %>
    <%= image_tag recipe.main_photo.url(:cropped_square_thumb), :class => "square_170" %>
  <% end %>
  </div>
  <div class="recipe_info">
    <%= link_to recipe.name, recipe, class: "float_left" %><br>
	<a class="link_extra_options" data-rid="<%= recipe.id %>">[ADD TO...]</a><br>

    <div style="clear: both;">
    <%= render partial: "recipes/heart_build", locals: { recipe: recipe } %>
    </div>
	<span id="recipe_id" style="display: none;"><%= recipe.id %></span>
    <div style="clear: both;">
      Views: <%= recipe.global_views %>
      <%= "Prep (#{recipe.prep_time} min)" %>
      <%= "Cook (#{recipe.cook_time} min)" %>
    </div>
    <div>
    <%= render partial: "recipes/star_recipe", locals: { recipe: recipe } %>
    </div>
    <div>
      <%= recipe.about %>
    </div>  
    <%= render partial: "recipes/rating_stars", locals: { recipe: recipe } %><br><br>
	<% if recipe.author != nil %>
      <%= link_to recipe.author.user_name, recipe.author, class: "float_right" %>
    <% else %>
      <span class="search_result_credit_text">anonymous</span>
    <% end %>
  </div>
</div>

