<div id="static_box">
<h1>Editing recipe</h1>
<script>
<% create_ingreds = 0 %>
<% create_steps = 0 %>
<% if destringify(@recipe.j_ingreds) == "" %>
   <%  create_ingreds = 1  %>
<% end %>
<% if destringify(@recipe.j_steps) == "" %>
   <%  create_steps = 1  %>
<% end %>

</script>

<%= render 'form' %>
 <%= link_to @recipe do %>
 <%= button_tag :class => "button_round_blue" do %>
      View This Recipe
 <% end %>
 <% end %>
 <%= link_to recipes_path do %>
 <%= button_tag :class => "button_round_blue" do %>
      View Other Recipes
 <% end %>
 <% end %>

</div>
