<div id="recipes_index">
  <div id="left_filter_options">
    <div id="filter_title">
      Filter for search
    </div>
    <% @tag_types.each do |tag_type| %>
    <div class="filter_tag_type">
      <div class="tag_type_name"><%= tag_type.name %></div>
      <div class="tag_type_description"><%= tag_type.description %></div>
      <div class="child_tags">
        <% tag_type.tags.each do |tag| %>
          <%= check_box_tag "search[tag_type][]", tag.id %>
          <%= tag.name %><br>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div id="right_recipes_results">
    <%= link_to 'New Recipe', new_recipe_path %>
    <% @recipes.each do |recipe| %>
      <div class="search_result_recipe">
        <%= link_to recipe.name, recipe, class: "search_result_recipe_name" %><br>
        <%= "Servings: #{recipe.servings}" %> <%= "Prep time: #{recipe.prep_time}" %>min <%= " Cook time: #{recipe.cook_time} min" %>
        <br>
        <%= link_to recipe.author.user_name, recipe.author, class: "search_result_recipe_author" %>
      </div>
    <% end %>
  </div>
<br>
</div>

