<script type="text/javascript">
  function search_recipes_with_filters(id) {
    var elem = document.getElementById(id);
    var inputs = elem.getElementsByTagName("input");
    var query_string = "";
    var count = 0;
    for(var i = 0; i < inputs.length; i++){
      if (inputs[i].type == "checkbox") {
        if (inputs[i].checked){
          if (count > 0)
            query_string += "+"+ inputs[i].name;
          else
            query_string += inputs[i].name;
          count += 1;
        }
      }
    }
    window.location.href = "/recipes?utf8=✓&search="+query_string;
  }
</script>
<div id="recipes_index">
 <table class="wholesome_grid">
  <tr style="vertical-align: top;">
    <td>
  <div id="left_filter_options">
    <div id="filter_title">
      Filter for search
    </div>
    <% @tag_types.each do |tag_type| %>
    <div class="filter_tag_type">
      <div class="tag_type_name"><%= tag_type.name %></div>
      <div class="tag_type_description"><%= tag_type.description %></div>
      <div class="child_tags">
        <% tag_type.tags.each do |tag| %>
          <%= check_box_tag tag.name %>
          <%= tag.name %><br>
        <% end %>
      </div>
    </div>
    <% end %>
    <button type="button" class="button_round_blue" onclick="search_recipes_with_filters('left_filter_options')">Get Searching</button>
  </div>
  </td>
  <td>
  <div class="result_announcer">
    <div class="popular-recipe-categories">
       Popular Categories: <br>
       <%= link_to "/recipes?utf8=✓&search=Chinese" do %>
         <%= button_tag :class => "button_round_burnt_orange" do %>Chinese<%end %>
      <% end %>
       <%= link_to "/recipes?utf8=✓&search=dim+sum" do %>
         <%= button_tag :class => "button_round_burnt_orange" do %>Dim Sum<%end %>
      <% end %>
       <%= link_to "/recipes?utf8=✓&search=Easy" do %>
         <%= button_tag :class => "button_round_burnt_orange" do %>Easy<%end %>
      <% end %>
    </div>
    <% if @recipes == [] %>
      <span class="result_announcer">No results for <em><%= params["search"]%></em></span>
      <br><br>
      <%= link_to recipes_path do %>
         <%= button_tag :class => "button_round_blue" do %>All Recipes<%end %>
      <% end %>
    <% elsif params["search"] != nil%>
      <span class="result_announcer">Results for <em><%= params["search"]%></em></span>
    <% end %>
  </div>
  <div class="new_recipe_link">
    <%= link_to new_recipe_path do %>
        <%= button_tag :class=> "button_round_blue" do %>Add Your Recipe<% end %>
      <% end %>
  </div>
  <div id="right_recipes_results">
    <% @recipes.each do |recipe| %>
      <div class="search_result_recipe">
        <%= link_to recipe do %>
        <%= image_tag recipe.main_photo.url(:cropped_square_thumb), :class => "square_170" %><br>
        <%= render partial: "recipes/rating_stars", locals: { recipe: recipe } %>
        <%= link_to recipe.name, recipe, class: "search_result_recipe_name" %><br>
        <% end %>
        <%= render partial: "heart_build", locals: { recipe: recipe } %>
        <%= "Servings: #{recipe.servings}" %><br>
        <%= "Prep time: #{recipe.prep_time}" %>min<br>
        <%= " Cook time: #{recipe.cook_time} min" %>
        <br>
        <div class="search_result_recipe_credit">
          <% if recipe.author != nil %>
            <%= link_to recipe.author do %>
              <%= image_tag recipe.author.photo.url(:tiny_thumb), class: "rounded_tiny_thumb" %>
            <% end %> 
            <span class="search_result_credit_text"><%= link_to recipe.author.user_name, recipe.author, class: "search_result_recipe_author" %></span>
          <% else %>
            <%= image_tag("missing/tiny_thumb.png") %> <span class="search_result_credit_text">anonymous</span>
          <% end %>
        </div>
        <div id="show_tags">
        <% if recipe.s_tags != nil %>
          Tags:
          <% recipe.s_tags.split(',').each do |tag| %>
            <%= link_to tag, "/recipes?utf8=✓&search=#{tag}", :class => "tag_search" %>
          <% end %>
        <% end %>
        </div>

      </div>
    <% end %>
  </div>
  </td>
 </tr>
</table>
</div>

