<div id="recipe_show_whole_body">
<p id="notice"><%= notice %></p>
<div id="recipe_show_body">
  <div class="recipe_main_photo">
    <%= image_tag @recipe.main_photo.url(:original) %>
    <div class="recipe_main_meta_data">
       <%= @recipe.name %><br>
    </div>
  </div>
  <%= render partial: "recipes/rating_stars", locals: { recipe: @recipe } %>
  <%= render partial: 'recipes/heart_build', locals: { recipe: @recipe } %>
  <div id="recipe_author_info">
    Cooked up by:  
    <% if @recipe.author %>
      <%= link_to @recipe.author do %>
        <%=image_tag @recipe.author.photo(:tiny_thumb), :class => "rounded_tiny_thumb_lower" %>
      <% end %>
      <%= link_to @recipe.author.user_name, @recipe.author %>
    <% else %> 
      <%= image_tag("missing/tiny_thumb.png", :class => "rounded_tiny_thumb_lower") %>
      anonymous 
    <% end %>
  </div>
  <div id="show_tags">
  <% if @recipe.s_tags != nil %>
    <% @recipe.s_tags.split(',').each do |tag| %>
      <%= link_to tag, "/recipes?utf8=✓&search=#{tag}", :class => "tag_search" %>
    <% end %>
  <% end %>
  </div>
  <p>
  Total time: <%= @recipe.prep_time + @recipe.try(:cook_time)||0 %> minutes<br>
  </p>
  <p>
    <i><%= @recipe.about %></i>
  </p>
  <p>
  Makes <%= @recipe.servings %> servings. 
  </p>
  <p>
    <h3>Ingreds</h3>
    <% destringify(@recipe.j_ingreds).each do |ingred| %>
     <%= ingred.gsub(/U\+022/,'"').gsub(/U\+2424/, "\n") %><br>
    <% end %>
  </p>
  
  <p>
    <h3>Steps</h3>
  Prep: <%= @recipe.prep_time %> min |  Cook: <%= @recipe.cook_time %> min
    <% i = 1 %>
    <% destringify(@recipe.j_steps).each do |step| %>
     <%= simple_format h "#{i}. #{step.gsub(/U\+022/, '"').gsub(/U\+2424/,"\n")}" %><br>
     <% i+= 1 %>
    <% end %>
  </p>
  
  
  <% if member_signed_in? && current_member == @recipe.author %>
    <%= link_to edit_recipe_path(@recipe) do %> 
      <%= button_tag :class=> "button_round_blue" do %>Edit<% end %>
    <% end %>
    <%= link_to @recipe, method: "DELETE", action: "destroy", data: { confirm: "Are you sure? This cannot be undone." } do %>
      <%= button_tag :class=> "button_round_blue" do %>Cancel<% end %>
    <% end %>
  <% end %>
  <%= link_to recipes_path do %>
     <%= button_tag :class => "button_round_blue" do%>Back to All Recipes<% end %>
  <% end %>
  <div id="recipe_create_review">
    <%= render partial: "recipes/review_build", locals: { recipe: @recipe} %>
  </div>
  Reviews (<%= @recipe.reviews.count %>)<br>
  <div id="recipe_reviews">
  <% @recipe.reviews.each do |review| %>
    <%= render review %> 
  <% end %>
  </div>
</div>
<div id="recipe_show_chat_body">
  <span class="left_margin_10">Discuss, chat, leave a message!</span>
  <div id="recipe_discuss_board">
    <% if @recipe.convo %>
      <%= render @recipe.convo %>
    <% else %>
    Say something FTW!
    <% end %>
  </div>
  <%= form_for(@recipe.convo.comments.build, remote: true) do |f| %>
    <%= f.hidden_field :commentable_id, value: @recipe.convo.id %>
    <%= f.hidden_field :commentable_type, value: "Convo" %>
    <%= f.hidden_field :commenter_id, value: current_member.try(:id) %>
    <%= f.text_area :comment_text, :placeholder => "Leave a comment. Ratings go in rating section elsewhere" %>
    <%= button_tag :type => :submit, :class => "button_round_blue" do %>
      Let it fly! <%= image_tag("ic_action_fly.png", :class => "button_img") %>
    <% end %>
  <% end %>
</div>
</div>
<script>
function set_rating(index){
  var rating_block = document.getElementsByClassName("rating")[0];
  if (rating_block){
    var stars = rating_block.getElementsByTagName("span");
    var rating = index;
    for(var i = 0; i < 5; i++){
      stars[i].innerHTML ="\u2606";
    }
    for(var i = 1; i < index + 1; i++){
      stars[5-i].innerHTML = "\u2605";
    }
  }
  var form = document.getElementById("new_review");
  var input_rating = document.getElementById("review_rating");
  input_rating.value = index;
}
</script>
