<p id="notice"><%= notice %></p>
<div id="recipe_show_body">
  <p>
    <h3><%= @recipe.name %></h3>
  </p>
  
  <p>
    Cooked up by:  <%= link_to @recipe.author.user_name, @recipe.author %>
  </p>
  <p>
  Time to make: <%= @recipe.totalTime %> minutes
  </p>
  <p>
    <i><%= @recipe.about %></i>
  </p>
  
  <p>
    <h3>Ingreds:</h3>
    <% destringify(@recipe.j_ingreds).each do |ingred| %>
     <%= ingred.gsub(/U\+022/,'"') %><br>
    <% end %>
  </p>
  
  <p>
    <h3>Steps:</h3>
    <% i = 1 %>
    <% destringify(@recipe.j_steps).each do |step| %>
     <%= simple_format h "#{i}. #{step.gsub(/U\+022/, '"')}" %><br>
     <% i+= 1 %>
    <% end %>
  </p>
  
  
  <% if member_signed_in? && current_member == @recipe.author %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Remove', @recipe, method: "DELETE", action: "destroy", data: { confirm: "Are you sure? This cannot be undone." } %> |
  <% end %>
  <%= link_to 'Back', recipes_path %>
</div>
