<p id="notice"><%= notice %></p>

<p>
  <h3><%= @recipe.name %></h3>
</p>

<p>
  Cooked up by:  <%= link_to @recipe.author.user_name, @recipe.author %>
</p>
<p>
  <i><%= @recipe.about %></i>
</p>

<p>
  <h3>Ingreds:</h3>
  <% destringify(@recipe.j_ingreds).each do |ingred| %>
   <%= simple_format h ingred %><br>
  <% end %>
</p>

<p>
  <h3>Steps:</h3>
  <% i = 1 %>
  <% destringify(@recipe.j_steps).each do |step| %>
   <%= simple_format h "#{i}. #{step}" %><br>
   <% i+= 1 %>
  <% end %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
