<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= image_tag("ic_action_picture.png") %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field_text">
    <%= f.text_area :post_text, :placeholder => "Somewhere across the world, an apple fell from a tree into a pot. The pot was moved under another tree and a lemon fell into it." %>
  </div>
  <div class="field_tags">
    <label>Feeds to include your post in.<br>Type feed names, separate with commas.</label><br>
    <%= f.text_area :s_tags, :value => @post.s_tags || "public"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
