<style>
div[id^="tag_pick"] {
  /*/width: 100px; */
  border: 1px solid #ddd;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  margin: 5px 10px 5px 10px;
  float: left;
  cursor: pointer;
}
div.tag_title > span {
  margin-left: 8px;
  font-weight: bold;
  background-color: #e0f0ff;
}
div#picked_tag {
  background-color: #e0f0ff;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
  float: left;
}
div#picked_tag > button {
  border-radius: 20px;
}
div#dashboard {
  font-family: Arial;
  font-size: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 40px;
}
span[^id="picked_tag"] {
  background-color: #e0f0ff;
  border: 1px solid #ddd;
  border-radius: 10px;
  float: left;
}
textarea#holder_tags, input#holder_tags {
  border-style: none;
  float: left;
  line-height: 35px;
  height: 38px;
  overflow: hidden;
}
#dashboard_tags, #dashboard_discarded {
clear: both;
}
.field_text_area > textarea {
  width: 500px;
  max-width: 80%;
}
div[class^="group_tag"] {
  width: 140px;
  height: 70px;
  cursor: pointer;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}
div.group_tag_checked {
  background-color: #CAD8E6;
}
div.group_tag_unchecked {
  background-color: #e0f0ff;
}
</style>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= image_tag("ic_action_picture.png") %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field_text_area">
    <%= f.label "Tell us a little about this photo" %><br>
    <%= f.text_area :post_text, :placeholder => "Somewhere across the world, an apple fell from a tree into a pot. The pot was moved under another tree and a lemon fell into it." %>
  </div>
  <br><br>
  Click on tags to tag your post:
  <div id="dashboard">
    <textarea id="holder_tags" placeholder="Tags" onkeypress="check_space(event)"></textarea>
  </div>
  <br><br>
  <div style="clear: both;">
  Some tags you might like:
  </div>
  <div id="dashboard_tags">
  </div>
  <div style="clear: both;">-------</div>
  <div id="dashboard_discarded_tags">
  </div>
  
  <div class="all_group_tags">
    <label>Click on groups you want to include your post in.</label><br>
    <% current_member.joined_groups.each do |group| %>
      <div class="group_tag_unchecked" onclick="check_group_tag(this)">
        <b><%= group.name %></b><br>
        <%= group.description %> 
        <div style="display:none" class="group_id"><%= group.id %></div>
      </div>
    <% end %>
  </div><br>
  <div class="actions" style="clear: both;">
    <button type="button" onclick="form_submit(this.form)" class="button_round_blue">Submit</button>
  </div>
<% end %>

<%= javascript_tag do %>
  var default_tags = {};
  <% current_member.joined_groups.each do |group| %>
    default_tags["<%=group.name %>"] = "<%= group.description %>";
  <% end %>

<% end %>

<script type="text/javascript">
function check_group_tag(element){
  element.className = "group_tag_checked";
  element.onclick = function() { unchecked_group_tag(element);};
}
function unchecked_group_tag(element){
  element.className = "group_tag_unchecked";
  element.onclick = function() { check_group_tag(element);};
}

function form_submit(form){
  var s_tags = "";
  var dashboard = document.getElementById("dashboard");
  //get tags
  var span_array = dashboard.getElementsByTagName("span");
  var tag_array = "{\"tags\":[";
  for(var i = 0; i < span_array.length - 1; i++){
    tag_array += "\""+span_array[i].innerHTML.replace(/\"/g,"") + "\","
  }
  //do last one
  tag_array += "\""+span_array[(span_array.length - 1)].innerHTML + "\"";
  tag_array += "], \"groups\":";

  var checked_array = document.getElementsByClassName("group_tag_checked");
  var group_array = '\"';
  for(var i = 0; i < checked_array.length - 1; i++){
    group_array += checked_array[i].getElementsByTagName("div")[0].innerHTML.replace(/\"/g,'')+',';
  }
  if (checked_array.length > 0){
    group_array += checked_array[checked_array.length - 1].getElementsByTagName("div")[0].innerHTML.replace(/\"/g,'');
  } 
  group_array += '\"';

  tag_array += group_array;

  tag_array += "}"
  //assign form's s_tags to tag_array
  var hiddenTags = document.createElement("input");
  hiddenTags.setAttribute("type", "hidden");
  hiddenTags.setAttribute("id", "post_s_tags");
  hiddenTags.setAttribute("name", "post[s_tags]");
  hiddenTags.setAttribute("value", tag_array);
  form.appendChild(hiddenTags);

  form.submit();
}


function check_space(event){
  var input = document.getElementById("holder_tags");
  var dashboard = document.getElementById("dashboard");
  var chCode = ('charCode' in event)? event.charCode : event.keyCode;
  var chCode = event.keyCode || event.which;
  if (chCode == 32 || chCode == 13){
    var inputValue = input.value;
    if (inputValue.match(/[A-Za-z]/g)){
      var newNode = document.createElement("DIV");
      newNode.id = "picked_tag";
      newNode.innerHTML = '<span>'+inputValue+'</span><button type="button" onclick="delete_from_picked(this)">x</button>';
      //remove element from dashboard
      dashboard.insertBefore(newNode, input);//appendChild(newNode);
      //input.value = "";
    }
    input.value = "";
  } else if (chCode == 8 || chCode == 0){
    var tag_array = dashboard.getElementsByTagName("div");
    if (tag_array.length > 0  && input.value == ""){
      var to_delete_node = tag_array[tag_array.length - 1];
      dashboard.removeChild(to_delete_node);
    }
  }
}

var default_tags = {"whatsfordinner":"", "whatsforlunch":"", "whatsforbreakfast":"", "guiltypleasure":"sinfully delicious", "pickmeup":"","sugarspike":"","coffeebreak":"","supersimple":"","hack":"","cheat":"","oneday":"","royal":""};

function init_dashboard_tags(id_init_tags){
  var dashboard = document.getElementById(id_init_tags);
  var i = 0;
  for(var key in default_tags){
    if (default_tags.hasOwnProperty(key)){
      var newNodeHTML = '<div id="tag_pick" onclick="choose_insert_and_delete(this)"><div class="tag_title"><span>'+key+'</span></div>'+default_tags[key]+'</div>';
     dashboard.innerHTML = dashboard.innerHTML + newNodeHTML;
      i+= 1;
    }
  }
  /*
    <div id="tag_pick1">
      <div class="tag_title">
          <span></span>
      </div>
      What did you eat for breakfast?
    </div>
  */
}

function dashboard_delete_parent(element){
  var dashboard = document.getElementById("dashboard");
  var parent = element.parentNode;
  dashboard.removeChild(parent);
}

function choose_insert_and_delete(element){
  //var element = event.srcElement;
  var picked = document.getElementById("dashboard");
  var dashboard = document.getElementById("dashboard_tags");
  //add element to picked
  var newNode = document.createElement("DIV");
  newNode.id = "picked_tag";
  newNode.innerHTML = '<span>'+element.getElementsByClassName("tag_title")[0].getElementsByTagName('span')[0].innerHTML+'</span><button type="button" onclick="delete_from_picked(this)">x</button>';
  //remove element from dashboard
  element.style.display = "none";
  picked.insertBefore(newNode, document.getElementById("holder_tags"));//appendChild(newNode);
}
function delete_from_picked(element){
  var discarded_dashboard = document.getElementById("dashboard_discarded_tags");
  //insert into discarded_dashboard. (Add the key:value value if in default_tags object
  var key = element.parentNode.childNodes[0].nodeValue; //getElementsByTagName('span')[0].innerHTML;
  if (default_tags.hasOwnProperty(key)){
    var newNodeHTML = '<div id="tag_pick" onclick="choose_insert_and_delete(this)"><div class="tag_title"><span>'+key+'</span></div>'+default_tags[key]+'</div>';
     discarded_dashboard.innerHTML = discarded_dashboard.innerHTML + newNodeHTML;
    
  }
  //remove from picked div
  document.getElementById("dashboard").removeChild(element.parentNode);
}
init_dashboard_tags("dashboard_tags");
</script>

