<div class="post_indiv">
  <div class="post_img">
    <%= link_to post do %>
      <%= image_tag post.photo.url(:cropped_square_thumb) %>
    <% end %>
  </div>
  <div class="post_rest_of_content">
  <% if post.author %>
    <%= link_to post.author do %>
      <%= post.author.user_name %>
    <% end %>
  <% else %>
    Anonymous
  <% end %><br>
  <%= post.post_text %>
  </div>
</div>

