<div class="content_wrapper_main">
  <div class="spotlight">
  <h1>Check out our groups!</h1>
  <h4>Join a group to combine their feed into yours, and to share your posts with the group:</h4>
  <h5>Posts are associated with groups by tags.</h5>
  <span style="font-size: 20px; font-weight: bold;">Popular Tags:</span>
  <%= link_to "/posts?utf8=✓&search=whatsforlunch" do %>
    <%= button_tag :class => "button_round_burnt_orange" do%>whatsforlunch<% end %>
  <% end %>
  <%= link_to "/posts?utf8=✓&search=whatsfordinner" do %>
    <%= button_tag :class => "button_round_burnt_orange" do %>whatsfordinner<% end %>
  <% end %>
  <%= link_to "/posts?utf8=✓&search=whatsforbreakfast" do %>
    <%= button_tag :class => "button_round_burnt_orange" do %>whatsforbreakfast<% end %>
  <% end %>
  <%= link_to "/posts?utf8=✓&search=whatsfordinner" do %>
    <%= button_tag :class => "button_round_burnt_orange" do %>public<% end %>
  <% end %>
  <br>
  <%= link_to new_post_path do %>
    <%= button_tag :class=> "button_round_blue" do %>Share a post<% end %>
  <% end %>
  </div>
  <div id="feed_results_list">
    <%= render @posts %>
  </div>
</div>

<div class="side_bar pull_right">
  side_bar pull_right LOREM IPSUM
</div>
