<div id="post_index_page">
<h1>Cloudy with a Chance of Meatballs</h1>
<span style="font-size: 20px; font-weight: bold;">Popular Feeds:</span>
<%= link_to "/posts?utf8=✓&search=whatsforlunch" do %>
  <%= button_tag :class => "button_round_burnt_orange" do%>whatsforlunch<% end %>
<% end %>
<%= link_to "/posts?utf8=✓&search=whatsfordinner" do %>
  <%= button_tag :class => "button_round_burnt_orange" do %>whatsfordinner<% end %>
<% end %>
<%= link_to "/posts?utf8=✓&search=whatsforbreakfast" do %>
  <%= button_tag :class => "button_round_burnt_orange" do %>whatsforbreakfast<% end %>
<% end %>
<%= link_to "/posts?utf8=✓&search=whatsfordinner" do %>
  <%= button_tag :class => "button_round_burnt_orange" do %>public<% end %>
<% end %>

<br>

<%= link_to new_post_path do %>
  <%= button_tag :class=> "button_round_blue" do %>Share a post<% end %>
<% end %>
<br>
<% @posts.each do |post| %>
  <div class="post_indiv">
  <%= link_to post do %>
  <%= image_tag post.photo.url(:cropped_square_thumb) %>
  <% end %><br>
  <%= link_to post.author do %>
    <%= image_tag post.author.photo.url(:tiny_thumb), class: "rounded_tiny_thumb" %><%= post.author.user_name %>
  <% end %><br>
  <div id="show_tags">
  <% if post.s_tags != nil %>
    Tags:
    <% post.s_tags.split(',').each do |tag| %>
      <%= link_to tag, "/posts?utf8=✓&search=#{tag}", :class => "tag_search" %>
    <% end %>
  <% end %>
  </div>

  <%= post.post_text %><br>
  <% if current_member.try(:id) == post.author_id %>
    <%= link_to edit_post_path(post) do %>
      <%= button_tag :class=> "button_round_blue" do %>Edit<% end %>
    <% end %>
    <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= button_tag :class => "button_round_blue" do %>Remove Post<% end %>
    <% end %>
  <% end %>
  </div>
<% end %>
</div>
