<div id="post_index_page">
<h1>See Everyone's Post!</h1>
<%= link_to 'Post something. Share something!', new_post_path %><br><br>

<% @posts.each do |post| %>
  <div class="post_indiv">
  <%= link_to post do %>
  <%= image_tag post.photo.url(:cropped_square_thumb) %>
  <% end %><br>
  <%= link_to post.author do %>
    <%= image_tag post.author.photo.url(:tiny_thumb), class: "rounded_tiny_thumb" %><%= post.author.user_name %>
  <% end %><br>
  <div id="show_tags">
  <% if post.s_tags != nil %>
    Tags:
    <% post.s_tags.split(',').each do |tag| %>
      <%= link_to tag, "/posts?utf8=✓&search=#{tag}", :class => "tag_search" %>
    <% end %>
  <% end %>
  </div>

  <%= post.post_text %><br>
  <% if current_member.try(:id) == post.author_id %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </div>
<% end %>
</div>
