<div id="post_whole_box">
<p id="notice"><%= notice %></p>
<%= image_tag @post.photo.url(:original) %>
<p>
  <%= @post.post_text %>
</p>

<div id="show_tags">
  <% if @post.s_tags != nil %>
    Tags:
    <% @post.s_tags.split(',').each do |tag| %>
      <%= link_to tag, "/posts?utf8=✓&search=#{tag}", :class => "tag_search" %>
    <% end %>
  <% end %>
</div>


<% if member_signed_in? && (current_member.id == @post.author.id || current_member.admin) %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete Post', @post, method: "DELETE", action: "destroy", data: { confirm: "Are you sure? This cannot be undone." } %>
<% end %>

<div id="recipe_discuss_board">
  <% if @post.convo %>
    <%= render @post.convo %>
  <% else %>
  Say something FTW!
  <% end %>
</div>
<%= form_for(@post.convo.comments.build, remote: true) do |f| %>
  <%= f.hidden_field :commentable_id, value: @post.convo.id %>
  <%= f.hidden_field :commentable_type, value: "Convo" %>
  <%= f.hidden_field :commenter_id, value: current_member.try(:id) %>
  <%= f.text_area :comment_text, :placeholder => "Yum!" %>
  <%= button_tag :type => :submit, :class => "button_round_blue" do %>
    Let it fly! <%= image_tag("ic_action_fly.png", :class => "button_img") %>
  <% end %>
<% end %>

</div>
