<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this member from being saved:</h2>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="rating">
  <span onclick="set_rating(5)">☆</span><span onclick="set_rating(4)">☆</span><span onclick="set_rating(3)">☆</span><span onclick="set_rating(2)">☆</span><span onclick="set_rating(1)">☆</span>
</div><br><br>
<%= f.label "Your review" %><br>
<%= f.text_area :rating_text %><br>
<%= f.label "Suggestions" %><br>
<%= f.text_area :suggestions %><br>
<%= f.hidden_field :rating %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
<script>
function set_rating(index){
  var rating_block = document.getElementsByClassName("rating")[0];
  if (rating_block){
    var stars = rating_block.getElementsByTagName("span");
    var rating = index;
    for(var i = 0; i < 5; i++){
      stars[i].innerHTML ="\u2606";
    }
    for(var i = 1; i < index + 1; i++){
      stars[5-i].innerHTML = "\u2605";
    }
  }
  var input_rating = document.getElementById("review_rating");
  input_rating.value = index;
}
</script>
