<div id="review_show<%=review.id%>" style="border: 1px #ddd solid; border-radius: 10px;">
  <% recipe = review.reviewed_recipe %>
  Your review for:
  <div class="recipe_img">
  <%= link_to recipe do %>
    <%= image_tag recipe.main_photo.url(:cropped_square_thumb), :class => "square_170" %>
  <% end %>
  </div>
  <div class="recipe_info">
    <%= link_to recipe.name, recipe, class: "search_result_recipe_name" %><br>
    <div style="clear: both;">
    <%= render partial: "heart_build", locals: { recipe: recipe } %>
    <%= render partial: "recipes/rating_stars", locals: { recipe: recipe } %>
    </div>
    <div class="search_result_recipe_credit">
     <% if recipe.author != nil %>
       <%= link_to recipe.author do %>
         <%= image_tag recipe.author.photo.url(:tiny_thumb), class: "rounded_tiny_thumb" %>
       <% end %>
       <span class="search_result_credit_text"><%= link_to recipe.author.user_name, recipe.author, class: "search_result_recipe_author" %></span>
     <% else %>
       <%= image_tag("missing/tiny_thumb.png") %> <span class="search_result_credit_text">anonymous</span>
     <% end %>
    </div>
  </div>
  <div class="show_rating">
    <% i = 0 %>
    <% while i < review.rating %>
      <span>&#x2605;</span>    
      <% i += 1 %>
    <% end %>
    <% while i < 5 %>
      <span>&#x2606;</span>
      <% i += 1 %>
    <% end %>
  </div>
  <%= raw review.rating_text %><br>
  <button onclick="show_more(this)" class="show_more">...</button>
  <div class="hidden" style="visibility:hidden;">
  Your Suggestions/Notes:
  <%= raw review.suggestions %><br>
  <button onclick="hide(this)">Hide</button>
  </div>
  <%= link_to edit_review_path(review.id) do %>
    <%= button_tag :class => "button_round_burnt_orange" do %>Edit<% end %>
  <% end %>
  |
  <%= link_to review, method: "DELETE", action: "destroy", remote: true, data: { confirm: "Are you sure? This cannot be undone." } do %>
    <%= button_tag :class => "button_round_burnt_orange" do %>Remove<% end %>
  <% end %>
</div>
