<div class="content_wrapper_main">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Who:</strong>
    <% if @suggestion.who_id != -1 %>
      <%= link_to @suggestion.who_id, member_path(@suggestion.who_id) %>
    <% end %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @suggestion.description %>
  </p>
  <%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
  <%= link_to 'Back', suggestions_path %>
</div>
