<!DOCTYPE html>
<html>
<head>
  <title>Nameless Cook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-dash">
<a id="logo" class="logo">
NAMELESS
<br>COOK
</a>
<ul id="nav">
  <li>[Search]</li>
  <li><%= link_to "[Browse]", recipes_path %></li>
  <% if member_signed_in? %>
  <li><a id="new_list_link" href="#">[New List+]</a></li>
  <% end %>
  <li><%= link_to  "[Other Cooks]", community_path %></li>
  <li id="user_lock_link">
  <% if member_signed_in? %>
    <li><%= link_to "[Your Recipes]", box_path %></li>
	<li>
    <%= image_tag current_member.photo.url(:tiny_thumb), :class => "rounded_tiny_thumb" %>
	<br><%= current_member.user_name %>
	</li>
  <% else %>
    <%= link_to "[Login/Register]", register_path %>
  <% end %>
  </li>
</ul>
</div>

<script>
$("#new_list_link").click(function(){
  $('#overlay').toggle();
  $('#new_list_div').toggle();
});
</script>

<div id="main">
  <div id="overlay" style="display: none;">
  </div>
    <div id="content_wrapper_super">
    <%=  yield %>
    </div>
    <div id="footer">
      <ul id="footer_list">
        <li><%= link_to "Terms and Privacy"%></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Suggestions", new_suggestion_path %></li>
      </ul>
      <div class="copyrights">
      All rights reserved to Nameless Cook
      </div>
    </div>

</div>

<div id="new_list_div" style="display: none;">
<% if member_signed_in? %>
<%= form_for(current_member.lists.build(:owner_id => current_member.id), remote: true, :html => { :class => "overlay_new_list"}) do |f| %>
  Create your new list:
  <div id="new_list_error_explanation"></div>
  Name: <%= f.text_field :name %>
  <%= f.hidden_field :owner_id, value: current_member.id %>
  <br><%= f.submit "Create +" %>
<% end %>
<% end %>
</div>

</body>
<script>

var rid = -1;

window.onresize = function(){
  function viewPortWidth(){
    var w = window.innerWidth 
    || document.documentElement.clientWidth
    || document.getElementsByTagName('body')[0].clientWidth;
    return w;
  }
  var w = viewPortWidth();
  if (w >= 648){
    nav = document.getElementById("main_nav_small_screen");
    nav.style.display = "none";
  }
}
$(document).on('click', function(event) {
  if (!$(event.target).is('#menu_bttn') && !$(event.target).parents('#menu_bttn').is('#menu_bttn')  && !$(event.target).is('#main_nav_small_screen') && !$(event.target).parents('#main_nav_small_screen').is('#main_nav_small_screen')) {
    // Hide the menus.
    var small_menu =  document.getElementById('main_nav_small_screen');
	if (small_menu != null)
      if (small_menu.style.display != "none")
       small_menu.style.display = "none";
  }
  if (!$(event.target).is('.user_name') && !$(event.target).parents('.user_name').is('.user_name')  && !$(event.target).is('#member_options') && !$(event.target).parents('#member_options').is('#member_options')) {
    // Hide the menus.
    var member_menu =  document.getElementById('member_options');
	if (member_menu != null)
      if (member_menu.style.display != "none")
         member_menu.style.display = "none";
  }
  if (!$(event.target).is('.search') 
       && !$(event.target).parents('.search').is('.search')  
       && !$(event.target).is('.search_link')
       && !$(event.target).parents('.search_link').is('.search_link')   
       && !$(event.target).is('.search-form') 
       && !$(event.target).parents('.search_form').is('.search_form')) {
    // Hide the menus.
    var search =  document.getElementsByClassName('search')[0];
	if (search != null)
      if (search.style.display != "none")
         search.style.display = "none";
  }
  if (!$(event.target).is('#new_list_div') && !$(event.target).parents('#new_list_div').is('#new_list_div')  && !$(event.target).is('#new_list_link')){
    var new_list_form = document.getElementById('new_list_div');
	if (new_list_form != null && new_list_form.display != "none"){
	  new_list_form.style.display = "none";
	  $("#overlay").hide();
	}
  }
  if (!$(event.target).is('#extra_options') && !$(event.target).parents('#extra_options').is('#extra_options')  && !$(event.target).is('.to_save')){
    var extra_options = document.getElementById('extra_options');
	if (extra_options != null && extra_options.style.display != "none"){
	  extra_options.style.display = "none";
	}
  }
});
function toggle_search(){
    search = document.getElementsByClassName("search")[0];
    if (search.style.display == "block"){
      search.style.display = "none";
    } else search.style.display = "block";

}

$(".link_extra_options").click(function(event){ 
  var x = event.pageX;
  var y = event.pageY;
  var node = event.target;
  rid = $(event.target).attr('data-rid');
  //var coords = event.getBoundingClientRect();
  //alert("(" + x + ", " + y+")");
  //alert(coords);
  var extra_options = $('#extra_options');
  $('#extra_options').toggle();
  $('#extra_options').css({top: y, left: x});
  event.stopPropagation();
});


</script>
</html>



