<!DOCTYPE html>
<html>
<head>
  <title>Tuzi Chef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <%= link_to root_url do %>
         
           <div id="logo"><%= image_tag("white_bunny.png") %> </div>
         
         <div class="logo-title">
           Tuzi Chef
         </div>
      <% end  %>
    </div>
    
    <div class="nav_top_row">
      <div class="nav_secondary_links">
        <ul class="nav_sec_menu">
          <li id="leaf_link"><%= link_to "have" %></li>
          <li id="leaf_link"><%= link_to "a" %></li>
          <li id="leaf_link"><%= link_to "wonderful" %></li>
          <li id="leaf_link"><%= link_to "day" %></li>
          <li id="leaf_link"><%= link_to "**" %></li>
          <li id="leaf_link"><%= link_to "Community", members_path %></li>
        </ul>
      </div>
    </div>
    
    <div class="mid-bar">
      <div class="navbar-links">
        <ul>
          <li class="dropdown-reveal"><%= link_to "Recipes", recipes_path %>
            <div class="dropdown">
              <ul>
                <li><a href="/recipes?utf8=✓&search=Chinese">Chinese</a></li>
                <li><a href="/recipes?utf8=✓&search=dim+sum">Dim Sum/Snacks</a></li>
                <li><a href="/recipes?utf8=✓&search=easy">Easy</a></li>
              </ul>
            </div>
          </li>
          <li><%= link_to "Hacks", root_url %></li>
          <li><%= link_to "Feed", root_url %></li>
        </ul>  
      </div>  
      <div class="search">
        <%= form_tag recipes_path, :class => "search_form", :method => :get do %>
          <%= text_field_tag :search, params[:search], :placeholder => "Something Awesome!", :class => "search-box" %>
          <%= submit_tag "", :name => nil, :class =>"search-bttn" %>
        <% end %>
      </div> 
      <div class="action-links">
        <button id="pot"></button>
        <button id="upload">UPLOAD +</button>
      </div>
    </div>    
    
    <div class="account-links">
      <ul>
        <% if member_signed_in? %>
          <li><%= link_to "Profile", current_member %></li>
        <% end %>
      </ul>  
    </div>
          
      
    
    <div class="nav_util">
      <div class="nav_login">
        <ul>
          <% if member_signed_in? %>
            <li><%= link_to "Sign out", members_logout_path %></li>
            <li><%= link_to current_member.user_name, members_edit_account_path %></li>
            <li><%= link_to raw"&#x2709;&#x2728;" %></li>
          <% else %>
            <li><%= link_to "*ALPHAs", members_login_path %></li>
            <li><%= link_to "Invites", members_register_path %></li>
          <% end %>
        </ul>
      </div>
      
    </div>
  </div>
  
  
  
  <div class="main_content">
    <%= yield %>
  </div>
  
  
<div id="footer">
  <div class="site-map">
    <div id="footer_box1">
      <div id="footer_heading">About Us</div>
      <ul id="footer_list">
        <li><%= link_to "Vision", vision_path %></li>
        <li><%= link_to "Company", about_path %></li>
      </ul>
    </div>
    <div id="footer_box1">
      <div id="footer_heading">Support</div>
      <ul id="footer_list">
        <li><%= link_to "Terms and Privacy"%></li>
        <li><%= link_to "Help" %></li>
        <li><%= link_to "Suggestions" %></li>
      </ul>
    </div>
    <div id="footer_box1"></div>
    <div id="footer_box1">We're based in sunny Los Angeles!</div>
  </div>
  <div class="copyrights">
    All rights reserved to Tuzi Chef LLC.
  </div>
</div>
</body>
</html>
