<!DOCTYPE html>
<% drop_down = false %>
<html>
<head>
  <title>Tuzi Chef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="logo">
    <%= link_to root_url do %>
     <div id="logo"><%= image_tag("white_bunny.png") %> </div>
     <div class="logo-title">Tuzi Chef</div>
    <% end  %>
  </div>
  <div class="nav_top_row">
    <div class="nav_secondary_links">
      <ul class="nav_sec_menu">
        <li id="leaf_link"><%= link_to "it's" %></li>
        <li id="leaf_link"><%= link_to "pouring" %></li>
        <li id="leaf_link"><%= link_to "rabbits" %></li>
        <li id="leaf_link"><%= link_to "*" %></li>
        <li id="leaf_link"><%= link_to "**" %></li>
        <li id="leaf_link"><%= link_to "Community", members_path %></li>
      </ul>
    </div>
    <div class="nav_util">
      <div class="nav_login">
        <ul>
          <% if member_signed_in? %>
          <li><%= link_to "logout", members_logout_path %></li>
          <li><%= link_to "box", box_path, :class => "box_link" %></li>
          <li>
          <%= link_to current_member do %>
            <%= image_tag current_member.photo.url(:tiny_thumb), :class => "rounded_tiny_thumb"%>
          <% end %>
          </li>
          <% else %>
          <li><%= link_to "*LOGIN", members_login_path %></li>
          <li><%= link_to "Invites", members_register_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="mid-bar">
    <div class="navbar-links">
      <ul>
        <li class="dropdown-reveal"><%= link_to "Recipes", recipes_path %>
          <% if drop_down %>
          <div class="dropdown">
            <ul>
              <li><%= link_to "All Recipes", recipes_path %></li>
              <li><%= link_to "New Recipe", new_recipe_path %></li>
              <li><a href="/recipes?utf8=✓&search=Chinese">Chinese</a></li>
              <li><a href="/recipes?utf8=✓&search=dim+sum">Dim Sum/Snacks</a></li>
              <li><a href="/recipes?utf8=✓&search=easy">Easy</a></li>
            </ul>
          </div>
          <% end %>
        </li>
        <li><%= link_to new_recipe_path do %><%= image_tag("ic_action_new.png") %><% end %></li>
        <li><%= link_to "Feed", posts_path %></li>
        <li><%= link_to "Search", search_path %></li>
      </ul>  
    </div>  
    <div class="action-links">
    <%= link_to new_post_path do %>
      <%= button_tag :class => "button_round_blue" do %>UPLOAD+<% end %>
    <% end %>
    </div>
    <div class="search">
      <%= form_tag recipes_path, :class => "search_form", :method => :get do %>
        <div class="search-box"><%= text_field_tag :search, params[:search], :placeholder => "Something Awesome!"%>
        <%= button_tag name="" %>
        </div>
      <% end %>
    </div>

  </div>    
</div>

<% if !member_signed_in? %>
<div id="wanna_join">
  Wanna join? <%= link_to "Sign up here!", members_register_path %> 
</div>
<% end %>
  
  
  <div class="main_content">
    <%= yield %>
  </div>
  
  
<div id="footer">
  <div class="site-map">
    <div id="footer_box1">
      <div id="footer_heading">About Us</div>
      <ul id="footer_list">
        <li><%= link_to "Vision", vision_path %></li>
        <li><%= link_to "Company", about_path %></li>
      </ul>
    </div>
    <div id="footer_box1">
      <div id="footer_heading">Support</div>
      <ul id="footer_list">
        <li><%= link_to "Terms and Privacy"%></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Suggestions", new_suggestion_path %></li>
      </ul>
    </div>
    <div id="footer_box1"></div>
    <div id="footer_box1">We're based in sunny Los Angeles!</div>
  </div>
  <div class="copyrights">
    All rights reserved to Tuzi Chef LLC.
  </div>
</div>
</body>
</html>
