<!DOCTYPE html>
<% drop_down = false %>
<html>
<head>
  <title>Tuzi Chef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>



<header>
  <%= link_to root_url, :class =>"home_link" do  %>
    <p class="logo_title">Tuzi Chef</p>
  <% end  %>
   
  <nav class="main_nav">
      <ul>
	    <li id="home_link_mobile">
		    <%= link_to root_url do %>Home<% end %>
		</li>
        <li class="dropdown-reveal"><%= link_to "Recipes", recipes_path %>
          <% if drop_down %>
          <div class="dropdown">
            <ul>
              <li><%= link_to "All Recipes", recipes_path %></li>
              <li><%= link_to "New Recipe", new_recipe_path %></li>
              <li><a href="/recipes?utf8=✓&search=Chinese">Chinese</a></li>
              <li><a href="/recipes?utf8=✓&search=dim+sum">Dim Sum/Snacks</a></li>
              <li><a href="/recipes?utf8=✓&search=easy">Easy</a></li>
            </ul>
          </div>
          <% end %>
        </li>
        <li><%= link_to "Feed", posts_path %></li>
		 <li><%= link_to "Community", members_path %></li>
        <li><%= link_to "Search", search_path %></li>
      </ul>  
	  <a href="" id="exit-menu-bttn">X</a>
    </nav> 
	
    <div class="right_links">
	  <div class="action_bttns_block">
	    <a href="#" class="search_link"></a>
            <%= link_to "box", box_path, :class => "treasure_box_link" %>
	    <%= link_to new_recipe_path, :class => "upload_link" %>
      </div>
	</div>
	
	<div class="profile_block">
	 
          <% if member_signed_in? %>
		    <div class="profile_pic">
             <%= link_to current_member do %>
                <%= image_tag current_member.photo.url(:tiny_thumb), :class => "rounded_tiny_thumb"%>
              <% end %>
		    </div>
			<ul>
              <li><%= link_to "logout", logout_path %></li>
              <li><%= link_to "box", box_path, :class => "box_link" %></li>
            </ul>
          <% else %>
		    <ul>
		      <li><%= link_to "Invites", register_path %></li>
              <li><%= link_to "*LOGIN", login_path %></li>
			</ul>
          <% end %>
        </ul>
	</div>
	 
</header>

<div class="search">
	<%= form_tag recipes_path, :class => "search_form", :method => :get do %>
       <div class="search_box"><%= text_field_tag :search, params[:search], :placeholder => "Type Recipe or Ingredient"%>
       <%= button_tag name="", :class=>"search_bttn" %>
       </div>
    <% end %>
</div>

<%= link_to new_post_path do %>
    <%= button_tag :class => "button_round_blue" do %>UPLOAD+<% end %>
<% end %>

<% if !member_signed_in? %>
<div id="wanna_join">
  Wanna join? <%= link_to "Sign up here!", register_path %> 
</div>
<% end %>
  
  
  
  
<div class="content_wrapper_super">
  <%= yield %>
</div>
  
  
  
  
<div id="footer">
      <ul id="footer_list">
        <li><%= link_to "Terms and Privacy"%></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Suggestions", new_suggestion_path %></li>
      </ul>
    </div>
  <div class="copyrights">
    All rights reserved to Tuzi Chef LLC.
  </div>
</div>
</body>
</html>
