<div id="static_box">

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @member.photo.url(:original), :class => "rounded_original" %>
</p>
  <strong><%= @member.user_name %></strong><br>
  <%= "#{@member.first} #{ @member.last}" %>
</p>
<%= render partial: "members/follow_build", locals: {member: @member} %>
<p>
  Goes by <%= @member.occupation %> by day
</p>

<% if member_signed_in? && (current_member == @member || current_member.admin) %>
<%= link_to edit_member_path(@member) do %> 
  <%= button_tag :class => "button_round_blue" do %>Edit<% end %>
<% end %>
<% end %>
<%= link_to members_path do %> 
  <%= button_tag :class => "button_round_blue" do %>View Other Members<% end %>
<% end %>


<h2>Recipes</h2>
<% if @member.recipes.count == 0 %>
no recipes
<% end %>
<% @member.recipes.each do |recipe| %>
  <div>
    <%= link_to recipe.name, recipe %>
  </div>
<% end %>

<h3>What groups <%=@member.user_name%> is in: </h3>
<% @member.joined_groups.each do |group| %>
  <%= link_to group.name, group %><br>
<% end %>
</div>
