<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @member.photo.url(:original) %>
</p>
  <strong><%= @member.user_name %></strong><br>
  <%= "#{@member.first} #{ @member.last}" %>
</p>

<p>
  Goes by <%= @member.occupation %> by day
</p>

<% if current_member == @member  %>
<%= link_to 'Edit', edit_member_path(@member) %> |
<% end %>
<%= link_to 'View Other Members', members_path %>

<h2>Recipes</h2>
<% if @member.recipes.count == 0 %>
no recipes
<% end %>
<% @member.recipes.each do |recipe| %>
  <div>
    <%= link_to recipe.name, recipe %>
  </div>
<% end %>
